@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600;900&display=swap");
:root {
  --primary-color:#007Af3;
}

body {
  background: rgba(245, 245, 245, 0.87);
  margin: 0;
  font-family: "Poppins";
}

nav {
  display: none;
}

.container3 {
  justify-content: center;
}

.Resume {
  width: 100%;
}
.Resume iframe {
  height: 40em;
}

.navbar {
  background: #ffffff;
  padding-top: 0.5em;
  align-items: center;
  height: 2em;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
.navbar .logo span {
  color: var(--primary-color);
}
.navbar .container {
  display: flex;
  place-content: space-between;
  height: 2em;
}
.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
}

section {
  padding: 5em 2 em;
}

.hero {
  text-align: center;
}
.hero .profilepic {
  background-color: var(--primary-color);
  padding: 1em;
  border-top: 0.5em solid white;
  border-bottom: 0.5em solid white;
  box-shadow: 0.2em 0.2em 0.2em 0.2em #042547;
}
.hero .profilepic .hero-img {
  transition: 0.5s;
  height: 12em;
  border-radius: 50%;
  border: 0.5em solid white;
  box-shadow: 0.2em 0.2em 0.2em 0.2em #042547;
}
.hero .profilepic .hero-img:hover {
  transform: scale(1.05);
  box-shadow: 0.3em 0.3em 0.3em 0.3em #042547;
}
.hero .profilepic .features-section {
  color: #ffffff;
  text-align: center;
  font-size: 1.1em;
}
.hero .profilepic ul {
  padding: 0;
}
.hero .profilepic li.organize .hovertext {
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  width: 100%; /* Make it fill the entire li */
}
.hero .profilepic li {
  margin: 1em;
  position: relative;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 0.5em;
  display: flex;
  border-radius: 0.5em;
  overflow: hidden;
  transition: 0.3s;
  flex: 1;
  box-shadow: 0.02em 0.02em 0.02em 0.02em #042547;
  background-color: #464646;
  border: 0.2em solid #EBEBEB;
}
.hero .profilepic li:hover {
  transform: scale(1);
  box-shadow: 0.1em 0.1em 0.1em 0.1em #042547;
  border: 0;
}
.hero .profilepic li:hover .hovertext {
  transform: translateY(2em);
}
.hero .profilepic li:hover .hovertext::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.hero .profilepic li .hovertext {
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.hero .profilepic li.mumbai:hover {
  background-image: url("../images/mumbaicover.jpg");
  background-size: 100% 100%;
}
.hero .profilepic li.mumbai:hover .hovertext::before {
  background: rgba(0, 0, 0, 0.5); /* Translucent Black */
}
.hero .profilepic li.history:hover {
  background-image: url("../images/discussion.jpg");
  background-size: cover;
}
.hero .profilepic li.history:hover .hovertext::before {
  background: rgba(255, 140, 0, 0.8); /* Creamy Orange (More Opaque) */
}
.hero .profilepic li.organize:hover {
  background-image: url("../images/organize.jpg");
  background-size: cover;
}
.hero .profilepic li.organize:hover .hovertext::before {
  background: rgba(64, 224, 208, 0.8); /* Turquoise (More Opaque) */
}
.hero .profilepic li.cooking:hover {
  background-image: url("../images/cooking.jpg");
  background-size: cover;
}
.hero .profilepic li.cooking:hover .hovertext::before {
  background: rgba(169, 169, 169, 0.5); /* Translucent Gray */
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.2em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.interactions {
  background-image: url(../images/200w.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1em;
}

.interactions-top {
  padding-top: 3.5em;
  display: flex;
  flex-direction: column;
}
.interactions-top ul {
  padding: 0 0 3em 0;
  margin: 0;
}
.interactions-top ul li {
  transition: 0.5s;
  background: white;
  text-align: center;
  padding: 1em 1em;
  height: 15em;
  width: 80%;
  margin: 1em auto 5em auto;
  border-radius: 1em;
}
.interactions-top ul li blockquote {
  margin: 0 0 1em 0;
}
.interactions-top ul li img {
  clip: 100px 10px;
  width: 7em;
  height: 7em;
  border: 5px solid #006BD6;
  border-radius: 50%;
  margin-top: -4.5em;
}
.interactions-top ul li:hover {
  transform: scale(1.02);
  box-shadow: 0.3em 0.3em 0.3em 0.3em #042547;
}

h2 {
  font-size: 2em;
}

.contact-left {
  padding: 0.5em;
  margin: 0 0 0 1em;
}
.contact-left ul {
  padding-left: 0em;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #20272E;
  height: 100vh;
}
nav ul.primary-nav {
  margin-top: 5em;
  margin-bottom: 0em;
  padding-left: 0;
}
nav ul.secondary-nav {
  margin: 0em;
  padding-left: 0;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  transition: 0.3s;
  color: var(--primary-color);
  background-color: #333c46;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
}

@media only screen and (min-width: 1350px) {
  .contact-left ul {
    display: block;
    width: 85%;
  }
  .contact-left:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 5em;
    background: var(--primary-color);
    left: 0;
    top: -2em;
  }
  .contact-left:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 3em;
    background: url("../images/dots.svg") no-repeat;
    left: 19em;
    top: -1em;
  }
}
@media only screen and (min-width: 1200px) {
  .profilepic {
    display: flex;
    padding-left: 2em;
  }
  .profilepic ul {
    display: flex;
  }
}
@media only screen and (min-width: 1080px) {
  .features-section {
    display: flexbox;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    padding-top: 0em;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.current a:hover {
    color: white;
  }
  .interactions {
    padding-bottom: 2em;
  }
  .interactions-top ul {
    display: flex;
    padding-bottom: 2em;
  }
  .interactions-top ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
    height: 12em;
  }
  .contact-section .container {
    display: flex;
  }
  .contact-section .contact-left {
    width: 50%;
    padding-top: 0em;
    padding-bottom: 0em;
  }
  .contact-section .contact-info {
    padding-left: 0em;
    margin: 0em;
  }
  .contact-section .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-section .contact-right iframe {
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .contact-left {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .hobbies {
    display: flex;
    flex-direction: column;
  }
  .hobbies li {
    justify-content: center;
  }
  .hobbies li div {
    width: 100%;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.exp {
  padding: 0.5em;
  background: #98c1d9;
  height: 100%;
  overflow-x: clip;
  overflow-y: scroll;
  width: 70%;
}

.skills {
  padding: 0.5em;
  color: rgb(30, 30, 30);
  background: #EDEDED;
  height: 100%;
  overflow-x: clip;
  overflow-y: scroll;
  width: 70%;
}
.skills::before, .skills::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.skills ul {
  padding: 0em;
  width: min(60rem, 90%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.skills ul li {
  max-width: 12rem;
  justify-self: center;
  display: grid;
  grid-template: "icon" "line" "dot" "title" "descr" 1fr;
  justify-items: center;
  align-items: flex-start;
  text-align: center;
}
.skills ul li .icon {
  grid-area: icon;
  width: 6rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: white;
  font-size: 2.5rem;
  border: 0.4rem solid var(--bgColor);
  border-radius: 50%;
  background: var(--accent-color);
  background-image: var(--accent-image);
  background-size: contain;
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45), inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
}
.skills ul li::before {
  content: "";
  grid-area: line;
  height: 2rem;
  border-right: 2px dotted currentColor;
}
.skills ul li::after {
  content: "";
  grid-area: dot;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-color);
  justify-self: center;
  margin-bottom: 0.5rem;
}
.skills ul li .title {
  grid-area: title;
  margin-block: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.mumbaicontent {
  top: 25%;
  height: 60%;
  overflow-x: clip;
  overflow-y: clip;
  width: 60%;
  background: rgb(241, 241, 241);
}
.mumbaicontent ul {
  height: 100%;
  width: 100%;
  margin: 0em;
  padding: 0em;
}
.mumbaicontent ul .m {
  background-image: url(../images/mumbai.jpg);
  background-size: 100% 100%;
  color: white;
  font-size: medium;
  height: 50%;
  width: 100%;
  align-items: end;
  padding-left: 0.1em;
}
.mumbaicontent ul .m div {
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.8);
  width: 50%;
  border-radius: 0.5em;
  padding-left: 1em;
  background-color: rgba(240, 248, 255, 0.8);
}
.mumbaicontent ul .b {
  background-image: url(../images/bengaluru.jpg);
  background-size: 100% 100%;
  font-size: medium;
  height: 50%;
  width: 100%;
  align-items: end;
  padding-left: 0.1em;
}
.mumbaicontent ul .b div {
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  width: 50%;
  padding-left: 1em;
  background-color: rgba(240, 248, 255, 0.8);
}

.discussion {
  top: 20%;
  height: 60%;
  overflow-x: clip;
  overflow-y: clip;
  width: 60%;
  background: rgb(241, 241, 241);
  background-image: url("../images/discussion.jpg");
  background-size: contain;
  padding-left: 1em;
}
.discussion .points {
  height: 90%;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.8);
}
.discussion .points ul {
  height: 65%;
  list-style-image: url("../images/bullet.png");
  padding: 0%;
}
.discussion .points ul span {
  color: #007Af3;
  font-weight: bold;
  margin: 0;
  padding: 0%;
}
.discussion .points ul li {
  display: flex;
  align-items: center;
  margin: 1em 0;
  padding-bottom: 1.5em;
  position: relative;
}
.discussion .points ul li::before {
  content: "";
  width: 2em;
  height: 2em;
  background-image: url("../images/bullet.png");
  background-size: cover;
  margin-right: 0.5em;
  flex-shrink: 0;
}

.decisive {
  top: 20%;
  height: 60%;
  overflow-x: clip;
  overflow-y: scroll;
  width: 50%;
  background-image: url("../images/organise.jpg");
  background-size: contain;
}
.decisive .highlights {
  margin: 0;
  padding: 0;
  top: 0%;
}
.decisive .highlights ul {
  padding: 0;
  margin: 0;
}
.decisive .highlights ul .outerlist {
  margin: 0em 0em 0em 0em;
  padding: 1em;
}
.decisive .highlights ul .outerlist .itsme {
  background-color: rgba(241, 241, 241, 0.95);
  padding: 2em 2em 2em 2em;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  margin: 0% auto;
  border: 0.0625em solid #888;
  border-radius: 1em;
  justify-content: center;
  /* Style for Work Experience Modal */
  /* Style for Work Experience Modal */
}
.modal-content p {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.modal-content cite {
  font-size: 1em;
}
.modal-content .timeline {
  width: 95%;
  background-color: #072736;
  color: #fff;
  margin: 0;
  padding: 2em 1em;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.8);
  border-radius: 1em;
}
.modal-content .timeline h2 {
  font-size: 2em;
  margin-top: 0em;
}
.modal-content .timeline ul {
  list-style-type: none;
  border-left: 0.125em solid #094a68;
  padding: 0.63em 0.33em;
}
.modal-content .timeline ul li {
  padding: 1.25em 1.25em;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.modal-content .timeline ul li span {
  display: inline-block;
  background-color: #1685b8;
  border-radius: 1.5625em;
  padding: 0.125em 0.345;
  font-size: 0.9375em;
  text-align: center;
}
.modal-content .timeline ul li .content h3 {
  color: #34ace0;
  font-size: 1.0625em;
  padding-top: 0.345;
}
.modal-content .timeline ul li .content p {
  padding: 0.345 0em 0.9375em 0em;
  font-size: 0.9375em;
}
.modal-content .timeline ul li:before {
  position: absolute;
  content: "";
  width: 0.634em;
  height: 0.634em;
  background-color: #34ace0;
  border-radius: 50%;
  left: -0.65em;
  top: 1.75em;
  transition: 0.5s;
}
.modal-content .timeline ul li:hover {
  background-color: #071f2a;
}
.modal-content .timeline ul li:hover:before {
  background-color: #0F0;
  box-shadow: 0em 0em 0.634em 0.125em #0F0;
}
@media (max-width: 300px) {
  .modal-content .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .modal-content .timeline ul li .content h3 {
    font-size: 15px;
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em, 0em, 1em, 1em;
  cursor: pointer;
  font-size: 2em;
}

/* Style for scroll bar */
/* Initially hide the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* Show the scrollbar when it's hovered or when page is scrolled */
::-webkit-scrollbar:hover,
::-webkit-scrollbar-thumb:active {
  opacity: 1;
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

/* Thumb styles */
::-webkit-scrollbar-thumb {
  border-radius: 0.634;
  background: #ccc;
}

/* Thumb styles on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}/*# sourceMappingURL=main.css.map */